@import 'global';

body {
    font-family: $prime-font;
    margin: 0;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-position: left top;
    background-repeat: repeat-y;
    display: grid;
    height: 100vh;
    grid-template-columns: 57% auto;
    grid-template-rows: 25% auto;
    grid-template-areas:
    'header photo'
    'body photo';
}

.header-img {
    grid-area: header;
    align-self: center;
    padding: $padding;
}

.main-body {
    grid-area: body;
    padding-left: $padding;
    padding-right: 25%;

    h1 {
        font-size: 8vh;
        text-transform: uppercase;
        letter-spacing: 1vh;
        color: $desu-red;
        font-weight: 300;
        margin-bottom: 0;

        span {
            display: block;
            color: black;
            font-weight: 400;
        }
    }

    p {
        margin-top: 5%;
        color: $desu-red;
        font-weight: 400;
        line-height: 1.7;
    }

    form {
        margin-top: 10%;
        position: relative;

        button:focus, input:focus{
            outline: none;
        }

        ::-webkit-input-placeholder {
            color: #C8C8C8;
            font-weight: 400;
            font-family: $prime-font;
            font-size: 1.7vh;
        }

        input:first-child {
            border-radius: 25px;
            width: 82%;
            height: 40px;
            border: 2px solid #E8E8E8;
            padding-left: 5%;
        }

        button {
            background: $linear-2;
            height: 45px;
            border-radius: 25px;
            width: 18%;
            border: none;
            position: absolute;
            left: 75%;
            box-shadow: 0px 3px 8px $desu-red;
            transition: transform .5s;
        }

        button:hover {
            cursor: pointer;
            transform: scale(1.1) perspective(1px);
            box-shadow: 0px 3px 10px $desu-red;
        }
    }
}

.mobile-photo {
    display: none;
}

.main-photo {
    grid-area: photo;

    img {
        height: 101%;
    }
}

@media only screen and (max-width: 375px) {

    body {
        background-image: $linear-1;
        width: 103%;
        grid-template-rows: 9% 30% auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "m-photo"
        "body";
    }
    
    .header-img {
        padding-left: 10%;
        
        img {
            width: 37%;
        }
    }

    .main-body {
        text-align: center;
        padding: 6%;

        h1 {
            font-size: 5vh;
        }

        p {
            font-size: 1.9vh;
        }

        form {
            button {
                left: 77%;
            }
        }
    }
     
    .main-photo {
        display: none;
    }

    .mobile-photo {
        display: block;
        grid-area: m-photo;

        img {
            width: 101%;
            height: 100%;
        }
    }

    form {
        button {
            width: 20% !important;
            left: 75% !important;
        }
    }
}

//ERROR STYLES 
.input-error {
    border: 2px solid red!important;
}

.error-text {
    margin: 0 !important;
    padding-top: 1.5%;
    padding-left: 5%;
    font-size: 1.7vh;
    font-weight: bold !important;
}