@import 'global';

body {
    font-family: $prime-font;
    margin: 0;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-position: left top;
    background-repeat: repeat-y;
    display: grid;
    height: 100vh;
    grid-template-columns: 57% auto;
    grid-template-rows: 25% auto;
    grid-template-areas:
    'header photo'
    'body photo';
}

.header-img {
    grid-area: header;
    align-self: center;
    padding: $padding;
}

.main-body {
    grid-area: body;
    padding-left: $padding;
    padding-right: 25%;

    h1 {
        font-size: 8vh;
        text-transform: uppercase;
        letter-spacing: 1vh;
        color: $desu-red;
        font-weight: 300;
        margin-bottom: 0;

        span {
            display: block;
            color: black;
            font-weight: 400;
        }
    }

    p {
        margin-top: 5%;
        color: $desu-red;
        font-weight: 400;
        line-height: 1.7;
    }

    form {
        margin-top: 10%;
        position: relative;

        ::-webkit-input-placeholder {
            color: #C8C8C8;
            font-weight: 400;
            font-family: $prime-font;
            font-size: 1.7vh;
        }

        input:first-child {
            border-radius: 25px;
            width: 82%;
            height: 40px;
            border: 2px solid #E8E8E8;
            padding-left: 5%;
        }

        button {
            background: $linear-2;
            height: 45px;
            border-radius: 25px;
            width: 18%;
            border: none;
            position: absolute;
            left: 75%;
            box-shadow: 0px 3px 8px $desu-red;
        }

        button:hover {
            cursor: pointer;
            transform: scale(1.1) perspective(1px);
            box-shadow: 0px 3px 10px $desu-red;
        }
    }
}

.main-photo {
    grid-area: photo;

    img {
        height: 101%;
    }
}